<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> e72d2d9257ef8fb290468684514f376d1a5b588d
extends layout
block content
<<<<<<< HEAD
    
    -var burgers = menu["burger"]
    ul
        each val, index in burgers
            li= index + ':' + val
=======
doctype html
html
    head
        title= 'Burgers'
    body
        each burger in burgers
=======
    each burger in burgers
        div#menu()
            img#image(src=burger.image)
            ul
                li #{burger.name}#{burger.description}
               
