<<<<<<< HEAD
extends layout

block vars
    - var title = 'Burgers'

block content
    
    -var burgers = menu["burger"]
    ul
        each val, index in burgers
            li= index + ':' + val
=======
doctype html
html
    head
        title= 'Burgers'
    body
        each burger in burgers
            div#menu()
                ul
                    li #{burger.name}#{burger.description}
                    img(#{burger.image})
>>>>>>> 8558cf16bdaca66cd1e0f28577a827d0a2f9ce15
